body {
  margin: 0;
  font-family: "Courier New", sans-serif;
  color: whitesmoke;
  background-color: #1411a3;
}

.title {
  margin-left: 10rem;
}
.search {
  text-align: center;
  color: white;
}

.results {
  text-align: center;
  color: whitesmoke;
  background-color: #7f61cd;
}

input[type=text] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  background-color: white;
  background-image: url("../assets/search-icon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
}

.topnav {
  background-color: #2421e7;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 85px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #1411a3;
  color: white;
}

.tweets {
  height: 20rem;
  margin: 2rem 10rem 0 10rem;
  display: flex;
  box-shadow: 0 0 3px black;
  border: 10px solid #821ee1;
  border-radius: 20px;
  align-items: center;
  background-color: #7f61cd;
}

.tweets .tweet {
  width: 100rem;
  margin: 10rem 10rem 10rem 10rem;
  background-color: darkslateblue;
  border-radius: 20px;
}

.tweets .sentiment {
  margin-left: auto;
  margin-right: 5rem;
}

img {
  height: 10rem;
}

.page-numbers {
  list-style: none;
  display: flex;
  background-color: #7f61cd;
  border: 10px solid #821ee1;
  border-radius: 30px;
  justify-content: center;
  margin-right: 10rem;
  margin-left: 10rem ;
}

.page-numbers > li {
  margin-right: 1em;
  user-select: none;
  cursor: pointer;
  font-size: 4rem;
}