body {
  margin: 0;
  font-family: "Courier New", sans-serif;
  color: whitesmoke;
  background-color: #1411a3;
}

.title {
  margin-left: 10rem;
}

.save-button {
  margin-left: 10rem;
}

.search {
  text-align: center;
  color: white;
}

.results {
  text-align: center;
  color: whitesmoke;
  background-color: #7f61cd;
}

.search-text {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  background-color: white;
  background-image: url("../assets/search-icon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
}

.topnav {
  background-color: #2421e7;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 85px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #1411a3;
  color: white;
}

.tweets {
  height: 20rem;
  margin: 2rem 10rem 0 10rem;
  display: flex;
  box-shadow: 0 0 3px black;
  border: 5px solid #821ee1;
  border-radius: 20px;
  align-items: center;
  background-color: #7f61cd;
}

.tweets .tweet {
  width: 100rem;
  margin: 10rem 10rem 10rem 10rem;
  background-color: darkslateblue;
  border-radius: 20px;
}

.tweets .alert {
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin-left: 5rem;
}

.trendings {
  height: 10rem;
  margin: 0 10rem 0 10rem;
  display: flex;
  box-shadow: 0 0 3px black;
  border: 5px solid #821ee1;
  border-radius: 20px;
  align-items: center;
  background-color: #7f61cd;
}

.trendings .hashtags {
  width: 100rem;
  margin: 10rem 10rem 10rem 10rem;
  background-color: darkslateblue;
  border-radius: 20px;
}

.tweets .sentiment {
  margin-left: auto;
  margin-right: 5rem;
}

img {
  height: 10rem;
}

.page-numbers {
  list-style: none;
  display: flex;
  background-color: #7f61cd;
  border: 10px solid #821ee1;
  border-radius: 30px;
  justify-content: center;
  margin-right: 10rem;
  margin-left: 10rem ;
}

.page-numbers > li {
  margin-right: 1em;
  user-select: none;
  cursor: pointer;
  font-size: 2rem;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.analysis {
  display: flex;
  justify-content: center;
}

.search-box {
  height: 20rem;
  margin: 2rem 10rem 0 10rem;
  display: flex;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
}

.search-box .filters {
  margin-block: 20px 20px;
}

.login-box {
  height: 20rem;
  margin: 2rem 10rem 0 10rem;
  display: flex;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
}

.register-box {
  height: 33rem;
  margin: 2rem 10rem 0 10rem;
  display: flex;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
}

.country-dropdown {
  color: black
}

.select-box {
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin: 2rem 10rem 0 10rem;
  display: flex;
  background-color: cornflowerblue;
  border: 5px solid #400CCC;
  color: black
}

.friend-box {
  margin-left: 10rem;
  margin-right: 5rem;
  width: 300px;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
  background-color: cornflowerblue;
  align-items: center;
  display: block;
  justify-content: center;
  text-align: center;
}

.how-to {
  margin-right: 10rem;
  margin-left: 5rem;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
  background-color: cornflowerblue;
  display: flex;
  text-align: center;
}

.login-info {
  border-radius: 20px;
  background-color: cornflowerblue;
  text-align: center;
  margin: 20px;
}

.pending {
  border-radius: 20px;
  background-color: cornflowerblue;
  align-items: center;
  display: flex;
}

.popup-content {
  margin: auto;
  background: cornflowerblue;
  text-align: center;
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.user-box {
  margin: 2rem 10rem 0 10rem;
  display: flex;
  box-shadow: 0 0 3px black;
  border-radius: 20px;
  background-color: cornflowerblue;
}

  .user-box .info {
    display: block;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .user-box .analyzed-hashtags {
    display: block;
    margin-top: 2rem;
    margin-left: 10rem;
  }

  .user-box .friends {
    display: block;
    margin-top: 2rem;
    margin-left: 10rem;
  }